.sideContainer {
    background-color: antiquewhite;
    width: 30%;
    .checkout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .total {
            display: flex;
            justify-content: space-around;
            h1 {
                color: green;
            }
        }
    }
}