.header {
    background-color: #58249c;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .icon {
        font-size: 32px;
    }

    span {
        background: red;
        padding: 5px;
        color: #000;
        border-radius: 40%;
    }
}