.productContainer {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    .productItem {
        // border: 1px solid red;
        display: flex;
        justify-content: space-around;
        align-items: center;

        // position: absolute;
        // gap: 50px;
        // width: 60%;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        .images {
            // display: flex;
            .productImages {
                display: flex;
                img {
                    width: 150px;
                    height: 100px;
                    margin: 10px;
                }
            }
        }
        .itemBody {
            text-align: justify;
            margin: 10px;
            height: 100%;
            // background-color: #ccc;
            // flex: 1;
        }
    }
}